nav {
    border-bottom: 15px solid #c72026;
    background-color: #000001;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

nav img {
    height: 40px;
     width: auto;
}

@media screen and (min-width:768px){
nav img {
    height: 80px;
    width: auto;
}
}