<div class="row">
  <div class="col-md-6">
    <h2>Visit Us Today!</h2>
    <div class="welcome">
       <span class="fa fa-map-marker"></span><p style="display:inline">
         <a href="https://goo.gl/maps/fMm1GmKSwzr" target="_blank">5874 Sawmill Rd., Dublin, OH 43017</a>
         </p>
    </div>
    <div class="welcome">
       <span class="fa fa-phone"></span><p style="display:inline">
          <a href="tel:6147922500">(614) 792-2500</a>
          </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="demo-bg">
                <div class="business-hours">
                    <h2 class="title">Opening Hours</h2>
                    <ul class="list-unstyled opening-hours">
                        <li [class]="(day==0)?'today':''">Sunday <span class="pull-right">12:00 PM-8:30 PM</span></li>
                        <li [class]="(day==1)?'today':''">Monday <span class="pull-right">11:00 AM-2:30 PM, 5:00 PM-9:30 PM</span></li>
                        <li [class]="(day==2)?'today':''">Tuesday <span class="pull-right">11:00 AM-2:30 PM, 5:00 PM-9:30 PM</span></li>
                        <li [class]="(day==3)?'today':''">Wednesday <span class="pull-right">11:00 AM-2:30 PM, 5:00 PM-9:30 PM</span></li>
                        <li [class]="(day==4)?'today':''">Thursday <span class="pull-right">11:00 AM-2:30 PM, 5:00 PM-9:30 PM</span></li>
                        <li [class]="(day==5)?'today':''">Friday <span class="pull-right">11:00 AM-2:30 PM, 5:00 PM-10:00 PM</span></li>
                        <li [class]="(day==6)?'today':''">Saturday <span class="pull-right">11:00 AM-2:30 PM, 5:00 PM-10:00 PM</span></li>
                    </ul>
                </div>
    </div>
  </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-xs-12 col-md-3 col-md-push-9 text-center vcenter">
    <!-- Social Icons -->
    <div class="ResSocialIconsWidget">
      <div class="header-social text-center">
        <a class="facebook Icon1 " href="#" target="_blank"><span class="fa fa-facebook"><span class="sr-only">Facebook</span></span></a>
        <a class="twitter Icon2 " href="#" target="_blank"><span class="fa fa-twitter"><span class="sr-only">twitter</span></span></a>
        <a class="youtube-play Icon3 " href="#" target="_blank"><span class="fa fa-youtube-play"><span class="sr-only">youtube</span></span></a>
        <a class="pinterest Icon4 " href="#" target="_blank"><span class="fa fa-pinterest"><span class="sr-only">pinterest</span></span></a>
        <a class="instagram Icon5 IconLast" href="#" target="_blank"><span class="fa fa-instagram"><span class="sr-only">instagram</span></span></a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-9 col-md-pull-3 text-center vcenter">
    <p class="copyright">&copy; 2017 Kyoto Japanese Steak House</p>
  </div>
</div>
