:host a{
    color: #ffffff;
    font-size: 16px;
}

.fa {
    margin-right: 5px;
}

.welcome {
    /*margin-top: 10px;*/
    height: 45px;
}

/*operating hours*/
.demo-bg{
background: #c72026;
margin: 15px 0 25px 0;
}
.business-hours {
background: #1d1d1d; 
padding: 0;
margin-top: -15px;
position: relative;
}
.business-hours:before{
content: '';
width: 23px;
height: 23px;
background: #1d1d1d;
position: absolute;
top: 5px;
left: -12px;
transform: rotate(-45deg);
z-index: -1;
}
.business-hours .title {
font-size: 20px;
color: #ffffff;
margin: 0 0 10px 0;
text-transform: uppercase;
padding-left: 5px;
border-left: 4px solid #ffac0c; 
font-family: "Montserrat",sans-serif;
font-weight: 700;
}
.business-hours li {
color: #888;
line-height: 30px;
border-bottom: 1px solid #333; 
}
.business-hours li:last-child {
border-bottom: none; 
}
.business-hours .opening-hours li.today {
color: #c72026; 
}
@media screen and (min-width:768px){
    .business-hours {
padding: 15px 0 0 0;
    }
    }