<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Kyoto
        <small>Japanese Steak House</small>
      </h1>
    </div>
  </div>
  <!-- /.row -->

  <!-- Intro Content -->
  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="/assets/images/about/image1.jpg" alt="">
    </div>
    <div class="col-md-6">
      <h2>The Ultra Hibachi Experience</h2>
      <p>A wonderful hibachi experience involves flare, showmanship and food that is fresh and flavorful.</p>
      <p>At Kyoto, you get all this and more. Whether you feast on the chicken, steak, seafood, or vegetable
         dinner – our experienced knife-flashing chefs will prepare your meal just the way you like it. The 
         natural flavors combined with our exceptional preparation methods will amaze everyone! </p>
    </div>
  </div>
</div>