html {
    height: 100%;
}

body {
    background-color: #1d1d1d;
    color: #ffffff;
    height: 100%;
    padding-top:64.4px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }
    
}

@media screen and (min-width:768px){
    body {
        padding-top: 94.40px;
    }
}