/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.header-text {
    position: absolute;
    top: 10%;
    left: 15%;
    right: auto;
    width: 40%;
    color: #fff;
    background-color: #1d1d1d;
}

.header-text h2 {
    font-size: 40px;
    text-align: left;
}

.header-text h3 {
    /*background-color: #000;*/
    text-align: left;
}

.header-text h3 span {
    /*background-color: #000;*/
    text-align: left;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

header.carousel .carousel {
        height: 70%;
    }

header {
    border-bottom: 15px solid #c72026;
}

.pageContent {
    background-image: url('/assets/images/bg-bamboo.jpg')
}

.panel {
    border: 1px solid #c72026;
}


.panel .btn{
    background-color: #ffac0c;
}

.panel-heading {
    background-color: #ffac0c;
}

.panel-body {
    background-color: #1d1d1d;
}

@media(max-width:991px) {
    .header-text {
    position: absolute;
    top: 8%;
    left: 10%;
    right: auto;
    width: 80%;
    color: #fff;
    background-color: #1d1d1d;
}

.header-text h2 {
    font-size: 20px;
    text-align: left;
}

.header-text h3 {
    /*background-color: #000;*/
    text-align: left;
    font-size: 15px;
}

.header-text h3 span {
    /*background-color: #000;*/
    text-align: left;
}
    
}