<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('/assets/images/home/image0.jpg');"></div>
                <div class="header-text">
                        <div class="col-md-12 text-center">
                            <h2>
                            	<span>WE ARE CLOSED FOR REMODELING</span>
                            </h2>
                            <h3>
                            	<span>We will reopen around September 6th. Please kindly check back 
                            for updates. Thanks!</span>
                            </h3>
                        </div>
                </div><!-- /header-text -->
            <!--<div class="carousel-caption">
                <h2>Caption 3</h2>
            </div>-->
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/assets/images/home/image1.jpg');"></div>
            <!--<div class="carousel-caption">
                <h2>Caption 1</h2>
            </div>-->
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/assets/images/home/image2.jpg');"></div>
            <!--<div class="carousel-caption">
                <h2>Caption 2</h2>
            </div>-->
        </div>
        <!--<div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
            <div class="carousel-caption">
                <h2>Caption 3</h2>
            </div>
        </div>-->
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
</header>

<!-- Page Content -->
<div class="pageContent">
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to Kyoto!
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> We are remodeling</h4>
                    </div>
                    <div class="panel-body">
                        <p>Restaurant is closed for remodeling and expected to reopen 
                            around September 6th. Please kindly check back
                            for updates. Thanks!
                            <br />
                            <br />
                            <br />
                            <br />
                            <br /></p>
                        <a href="#" class="btn btn-default">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-map-marker"></i> LOCATIONS</h4>
                    </div>
                    <div class="panel-body">
                        <p>We are located at 5874 Sawmill rd. We will have the 
                            pleasure of offering you great quality and delectably 
                            tasting food at a fair price. Please come and enjoy our 
                            show that is fun for all ages while our very talented chefs 
                            are preparing your food.
                            <br />
                            <br />
                            <br /></p>
                        <a routerLink="/about" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i>Reserve Your Table</h4>
                    </div>
                    <div class="panel-body">
                        <p>Your new and improved hibachi grill is waiting for you! Give 
                            us a call to make a reservation now. You may also make a reservation 
                            on the Dine Time app under Kyoto Japanese Steakhouse. Don't miss out 
                            on the best show in Columbus while you spend a great time with your 
                            loved ones. We accept parties of any size.
                            </p>
                        <a href="tel:6147922500" class="btn btn-default">Call Us Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>